$primary-color: #ababab;
$secondary-color: #9c54db;
$third-color: #fff;
$font-colors: (
    "green": #2ace69,
    "red": #de2e31
);
$border-types: (
    "small": 1px solid black,
    "medium": 3px solid black,
    "large": 5px solid black
);









// $primary-color: #272727;
// $accent-color: #ff65af;
// $text-color: #fff;
// $font-weights: (
//     "regular": 400,
//     "medium": 500,
//     "bold": 700
// );