*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 1.25rem;
  --fs-h2: 1.75rem;
  --fs-body: 1rem;
  --fs-xl: 4rem;
  --clr-light: rgb(255, 255, 255);
  --clr-gray: #989898;
  --clr-dark: #444;
  --clr-accent: #D06D6D;
  --clr-accent-dark: #613131;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-image: url(mars.jpg);
  background-size: cover;
  color: var(--clr-light);
  min-height: 100vh;
}

h1, h2, h3 {
  line-height: 1;
}

a {
  color: var(--clr-accent);
}
a:hover {
  color: var(--clr-accent-dark);
}

.main-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--clr-accent);
  letter-spacing: 2px;
  grid-column: 1/-1;
}

.section-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  margin: 0;
}

.section-title--date {
  font-size: var(--fs-xl);
}

.reading {
  font-size: var(--fs-h1);
  margin: 0;
  color: var(--clr-gray);
}

.mars-current-weather {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  max-width: 1000px;
  margin: 4em 0 0 4em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.date {
  grid-column: 1/2;
}
.date__day {
  font-size: var(--fs-h2);
  margin: 0;
  color: var(--clr-gray);
  font-weight: var(--fw-light);
}

.temp {
  --border: solid .5em var(--clr-accent-dark);
  grid-column: 2/3;
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}

.wind {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  align-self: start;
}
.wind .section-title,
.wind .reading {
  grid-column: 2/3;
}
.wind__direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  place-items: center;
  grid-row: 1/span 2;
}
.wind__arrow {
  --direction: 5deg;
  --size: 1rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background: var(--clr-accent-dark);
  -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(180deg);
  transform-origin: bottom center;
  transition: transform 0.5s;
}

.info {
  grid-column: 1/3;
}

.unit {
  grid-column: 3/4;
  place-self: end;
  color: var(--clr-light);
  display: flex;
  gap: 0.5rem;
  opacity: 0.7;
  transition: opacity 275ms linear;
}
.unit:hover {
  opacity: 1;
}
.unit label {
  cursor: pointer;
}
.unit input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.unit__toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--clr-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
  margin: 0 1em;
}
.unit__toggle::after {
  content: "";
  display: block;
  background: var(--clr-light);
  border-radius: 50%;
  height: 1rem;
  margin: 3px;
  width: 1rem;
  margin-left: auto;
}
.unit :checked ~ .unit__toggle::after {
  margin-left: 3px;
}

.previous-weather {
  background: var(--clr-light);
  color: var(--clr-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(60%);
  transition: transform 350ms ease;
  padding: 3em;
}

.show-previous-weather {
  position: absolute;
  background-color: var(--clr-light);
  left: 50%;
  width: 10rem;
  transform: translate(-50%, calc(-100% - 3rem));
  text-align: center;
  font-size: var(--fs-h2);
  line-height: 1;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  color: var(--clr-gray);
  border: 0;
  font-family: inherit;
}
.show-previous-weather:hover, .show-previous-weather:focus {
  color: var(--clr-dark);
}
.show-previous-weather span {
  display: block;
  transform: rotate(0);
  transition: transform 300ms ease;
}

.previous-days {
  display: flex;
  justify-content: space-between;
}

.previous-weather__title {
  text-align: center;
}

.previous-day {
  opacity: 0;
}
.previous-day > * {
  margin: 0;
}
.previous-day__date {
  font-size: 0.9rem;
  color: var(--clr-gray);
}
.previous-day__more-info {
  border: 0;
  border-radius: 100vmax;
  background: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  padding: 0.3em 1em;
  cursor: pointer;
  margin-top: 1em;
}
.previous-day__more-info:hover {
  background: var(--clr-gray);
}

.show-weather.previous-weather {
  transform: translateY(0);
}
.show-weather.previous-weather .show-previous-weather span {
  display: block;
  transform: rotate(180deg) translateY(-6px);
}
.show-weather.previous-weather .previous-weather__title,
.show-weather.previous-weather .previous-day {
  -webkit-animation: slideUpIn 750ms forwards;
          animation: slideUpIn 750ms forwards;
}
.show-weather.previous-weather .previous-weather__title {
  text-align: left;
}
.show-weather.previous-weather .previous-day:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.show-weather.previous-weather .previous-day:nth-child(2) {
  -webkit-animation-delay: 125ms;
          animation-delay: 125ms;
}
.show-weather.previous-weather .previous-day:nth-child(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.show-weather.previous-weather .previous-day:nth-child(4) {
  -webkit-animation-delay: 175ms;
          animation-delay: 175ms;
}
.show-weather.previous-weather .previous-day:nth-child(5) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.show-weather.previous-weather .previous-day:nth-child(6) {
  -webkit-animation-delay: 225ms;
          animation-delay: 225ms;
}
.show-weather.previous-weather .previous-day:nth-child(7) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

@-webkit-keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */